h2 {
    margin: 1rem 2rem;
}

.table-section {
    margin: 1%;
}

thead > tr.table-dark {
    background-color: #212529;
}

.category-cell {
    display: flex;
    justify-content: flex-end;
}

.category-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
    color: aliceblue;
}

svg {
    display: inline;
}

.bi {
    cursor: pointer;
}

.category-icon-img {
    cursor: initial;
}
